.navbar {
    list-style-type: none;
    margin: .1;
    padding: .2rem .4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.navbar li {
    padding: 0;
}

.title {
    padding: .1rem;
    margin: 0 .4rem 0 0;
    background-color: #FFDB58;
}

.navbar a {
    color: #4B3C33;
    padding: .3rem .4rem;
    text-decoration: none;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 0;
    background: #4B3C33;
    transition: all .5s ease;
}

.navbar a:hover:before {
    width: 100%;
}