/* Chart */
#view-sitemap{
  width: 70vw;
  height: 70vh;
  overflow: hidden;
}

/* Nodes */
.node{
  background-color: #33424B;
  border-radius: 6px;
  padding: .2rem .4rem !important;
}

.node:hover{
  background-color: #45535B;
}

.node:active{
  background-color: #45535B;
}

.node a{
  color: white;
  text-decoration: none;
}


.node-selected{
  background-color: #45535B;
}

/* Loading animation */
.loader-animation{
  border: .5rem  solid #B3ACA7;
  border-top: .5rem solid #4B3C33;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}