<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate {{ domain }}</title>
    <script>
        let sitemapAsJson = '{{ sitemap|tojson }}'
    </script>
</head>
<body>
    <h1>Generate</h1>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('serve_homepage')}}">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="view-sitemap" style="width: 1200px;height: 400px"></div>
    </main>
    <script src="{{ url_for('static', filename='javascript/apache_echart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sitemap.js') }}"></script>
</body>
</html>